/*--------------------------------------------------Layout*/

body {
    background-color:lightskyblue;
    font-size:28px;
}
.page-title{
    font-size:48px;
    font-family: 'IM Fell Great Primer', serif;
    }

.brand-logo{
    font-size:48px;
}

.navbuttons{
    text-align: center;
    padding-bottom:25px;
}

.page-heading{
    font-size:92px;
    text-align:center;
    font-family: 'IM Fell Great Primer', serif;
    color:white;
    margin:20px;
}
.section-header{
    font-size:52px;
    font-family: 'IM Fell Great Primer', serif;
    
}
/*-----------------------------------------Recipe card*/

.recipe_card{
    background-color:lightgrey;      
    border-style: solid;
    border-color:black;
    border-width:2px;
    font-family: 'Caveat', cursive;
}

.recipe-layout{
    margin:0;
}

.recipe-table{
    margin:20px;
    text-align:center;
}

.recipe-header{
    background-color:green;
    font-size:28px;
}

.divider{
    border-width: 2px;
    width:75%;
}



.method{
    text-align:center;
}

.collapsible-header{
    background-color:grey;
}

/*-----------------------------------Add recipe page*/


.recipe-box{
    background-color:lightgrey;
    
    margin:30px;
    border-style:solid;
    border-color:black;
    font-family: 'Caveat', cursive;
}

#recipe_name{
    font-size:32px;
}

.btn{
    background-color:salmon;      
}

.action-buttons{
    padding:25px;
    padding-bottom:0px;
}

.btn:hover{
    background-color: darksalmon;
}

/*----------------------------------------------------Footer*/

.page-footer{
    font-family: 'IM Fell Great Primer', serif;
    }

.shopping-links{
    padding-top:10px;
    text-decoration: underline;
}









