body {
    background-color:lightskyblue;
    
}

.recipe-box{
    
    background-color:red;
    margin:30px;
    border-style:solid;
    border-color:black;
}

.input-field{
    color:white;
}

.page-heading{
    font-size:72px;
    text-align:center;
}

.btn{
    background-color:red;      
}

.action-buttons{
    padding:25px;
    padding-bottom:0px;
}

.btn:hover{
    background-color: yellow;
}

.recipe_card{
    background-color:orange;      
    min-width:50%;
    max-width:50%;
     
    }

.recipe-table{
    margin:10px;
}

.collapsible-header{
    text-align:center;
}

.divider{
    border-width: 2px;
    width:75%;
}

.recipe-header{
    background-color:green;
    font-size:28px;
}

.recipe-title{
    color:purple;
    font-size:32px;
}

.page-title{
    font-size:48px;
    font-family: 'IM Fell Great Primer', serif;
    }

.brand-logo{
    font-size:48px;
}

.navbuttons{
    text-align: center;
    padding-bottom:25px;
}

.shopping-links{
    padding-top:10px;
}

.method{
    text-align:center;
}

.section-header{
    font-size:65px;
    font-family: 'IM Fell Great Primer', serif;
    
}