/*--------------------------------------------------Layout*/

body {
    background-color:lightskyblue;
    
}
.page-title{
    font-size:48px;
    font-family: 'IM Fell Great Primer', serif;
    }

.brand-logo{
    font-size:48px;
}

.navbuttons{
    text-align: center;
    padding-bottom:25px;
}

.page-heading{
    font-size:72px;
    text-align:center;
}
.section-header{
    font-size:52px;
    font-family: 'IM Fell Great Primer', serif;
    
}
/*-----------------------------------------Recipe card*/
.recipe-box{
    
    background-color:red;
    margin:30px;
    border-style:solid;
    border-color:black;
}
.recipe_card{
    background-color:lightgrey;      
    min-width:45%;
    max-width:45%;
    margin:10px;
}

.recipe-layout{
    margin:0;
}

.recipe-table{
    margin-left:20px;
    text-align:center;
}

.recipe-header{
    background-color:green;
    font-size:28px;
}

.divider{
    border-width: 2px;
    width:75%;
}

.recipe-title{
    color:purple;
    font-size:32px;
}

.method{
    text-align:center;
}

.collapsible-header{
    background-color:grey;
}

/*-----------------------------------Add recipe page*/
.input-field{
    color:white;
}

.btn{
    background-color:red;      
}

.action-buttons{
    padding:25px;
    padding-bottom:0px;
}

.btn:hover{
    background-color: yellow;
}











.shopping-links{
    padding-top:10px;
}



