{% extends 'base.html' %}<!-- Using the page layout from the base.html page -->
{% block content %}

<p class="page-heading">Add recipe</p>
<section class="Add_recipe_form"
<div class="recipe-box">
	<!-- The form that can be filled in to create a new data entry -->
	<div class="row">
		<form class="col s12" action="{{ url_for('insert_recipe') }}" method="POST">

			<div class="row">
				<div class="input-field col s6">
					<input id="recipe_name" name="recipe_name" type="text" class="validate" required>
					<label for="recipe_name">Recipe Name</label>
				</div>
				<div class="input-field col s6">
					<input id="servings" name="servings" type="number" class="validate" required >
					<label for="servings">Servings</label>
				</div>
			</div>
			<!-- This is where each ingredient and method step are added -->
			<div class="row">
				<div class="input-field col s6">
					<input id="ingredient_1" name="ingredient_1" type="text" class="validate" required> <!-- 3 required fields to aid in spam protection -->
					<label for="ingredient_1" class="label">Ingredient 1</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_2" name="ingredient_2" type="text" class="validate" required>
					<label for="ingredient_2">Ingredient 2</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_3" name="ingredient_3" type="text" class="validate" required>
					<label for="ingredient_3">Ingredient 3</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_4" name="ingredient_4" type="text" class="validate" >
					<label for="ingredient_4">Ingredient 4</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_5" name="ingredient_5" type="text" class="validate" >
					<label for="ingredient_5">Ingredient 5</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_6" name="ingredient_6" type="text" class="validate" >
					<label for="ingredient_6">Ingredient 6</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_7" name="ingredient_7" type="text" class="validate" >
					<label for="ingredient_7">Ingredient 7</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_8" name="ingredient_8" type="text" class="validate" >
					<label for="ingredient_8">Ingredient 8</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_9" name="ingredient_9" type="text" class="validate" >
					<label for="ingredient_9">Ingredient 9</label>
				</div>
				<div class="input-field col s6">
					<input id="ingredient_10" name="ingredient_10" type="text" class="validate" >
					<label for="ingredient_10">Ingredient 10</label>
				</div>
				<div class="input-field col s6">
					<input id="method_1" name="method_1" type="text" class="validate" required> <!-- 3 required fields to aid in spam protection-->
					<label for="method_1">Step 1</label>
				</div>
				<div class="input-field col s6">
					<input id="method_2" name="method_2" type="text" class="validate" required>
					<label for="method_2">Step 2</label>
				</div>
				<div class="input-field col s6">
					<input id="method_3" name="method_3" type="text" class="validate" required>
					<label for="method_3">Step 3</label>
				</div>
				<div class="input-field col s6">
					<input id="method_4" name="method_4" type="text" class="validate" >
					<label for="method_4">Step 4</label>
				</div>
				<div class="input-field col s6">
					<input id="method_5" name="method_5" type="text" class="validate" >
					<label for="method_5">Step 5</label>
				</div>
				<div class="input-field col s6">
					<input id="method_6" name="method_6" type="text" class="validate" >
					<label for="method_6">Step 6</label>
				</div>
				<div class="input-field col s6">
					<input id="method_7" name="method_7" type="text" class="validate" >
					<label for="method_7">Step 7</label>
				</div>
				<div class="input-field col s6">
					<input id="method_8" name="method_8" type="text" class="validate" >
					<label for="method_8">Step 8</label>
				</div>
				<div class="input-field col s6">
					<input id="method_9" name="method_9" type="text" class="validate" >
					<label for="method_9">Step 9</label>
				</div>
				<div class="input-field col s6">
					<input id="method_10" name="method_10" type="text" class="validate" >
					<label for="method_10">Step 10</label>
				</div>
			</div>
			<!-- Button used to submit any data that has been entered-->
			<button class="btn waves-effect waves-light" type="submit" name="action">Add recipe
    <i class="material-icons right">send</i>
  </button>
			<a href="{{url_for('get_recipes')}}"
				class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Go back</a>
		</form>
	</div>
</section>
{% endblock %}