{% extends 'base.html' %}
{% block content %}
<h3 class="page-heading"> Recipes </h3>
<div class="navbuttons">
  <a href="{{url_for('add_recipes')}}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add a recipe</a>
  <a href="{{url_for('get_course')}}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Courses</a>
</div>
<ul class="collapsible recipes" data-collapsible="accordion">
{% for recipe in recipes %}

    <li>
      <div class="collapsible-header recipe-header"><i class="material-icons">arrow_downward</i>{{recipe.recipe_name}}</div>
      
      <div class="collapsible-body recipes"><span>
      <p>Serves: {{recipe.servings}}</p>
      
      <h4 class="recipe-title">Ingredients</h4>{{recipe.ingredients}} 
      <br> 
      
      <h4 class="recipe-title">Method</h4>{{recipe.method}}</span></div>
    </li>
    <div class="row action-buttons">
    <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">edit</i>Edit recipe</a>
    <a href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">delete</i>Delete recipe</a>
    </div>
    {% endfor %}
    
    
  </ul>
        {% for recipe in recipes %}
        {{recipe.recipe_name}}
        {{recipe.servings}}
        {{recipe.ingredients}}
        {{recipe.method}}
        {% endfor %}


{% endblock %}

