{% extends 'base.html' %}
{% block content %}
<h3> Recipes </h3>
<ul class="collapsible" data-collapsible="accordion">
{% for recipe in recipes %}

    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_downward</i>{{recipe.recipe_name}}</div>
      
      <div class="collapsible-body"><span>
      <p>Serves: {{recipe.servings}}</p>
      <br>
      <h4>Ingredients</h4>{{recipe.ingredients}} 
      <br> 
      <br> 
      <h4>Method</h4>{{recipe.method}}</span></div>
    </li>
    <div class="row">
    <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">cloud</i>Edit recipe</a>
    <a href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">cloud</i>Delete recipe</a>
    </div>
    {% endfor %}
    
    
  </ul>
        {% for recipe in recipes %}
        {{recipe.recipe_name}}
        {{recipe.servings}}
        {{recipe.ingredients}}
        {{recipe.method}}
        {% endfor %}


{% endblock %}

