{% extends 'base.html' %}
{% block content %}
<h3 class="page-heading"> Recipes </h3>
<div class="navbuttons">
  <a href="{{url_for('add_recipes')}}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add a recipe</a>
  <a href="{{url_for('get_course')}}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Courses</a>
  

{% for recipe in recipes %}

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <h3>{{recipe.recipe_name}}</h3>
          
          <p>Serves: {{recipe.servings}}</p>
          <h3> Ingredients</h3>
          <p>{{recipe.ingredients}}</p>
          <h3> Method </h3>
          <p>{{recipe.method}}</p>
          
        </div>
        <div class="card-action">
          <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">edit</i>Edit recipe</a>
    <a href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">delete</i>Delete recipe</a>
        </div>
      </div>
    </div>
  </div>
    
    {% endfor %}
    
        {% for recipe in recipes %}
        {{recipe.recipe_name}}
        {{recipe.servings}}
        {{recipe.ingredients}}
        {{recipe.method}}
        {% endfor %}


{% endblock %}

<li>
      <div class="collapsible-header recipe-header"><i class="material-icons">arrow_downward</i>{{recipe.recipe_name}}</div>
      
      <div class="collapsible-body recipes"><span>
      <p>Serves: {{recipe.servings}}</p>
      
      <h4 class="recipe-title">Ingredients</h4>
      {{recipe.ingredients}} 
      <br> 
      
      <h4 class="recipe-title">Method</h4>{{recipe.method}}</span></div>
    </li>
    <div class="row action-buttons">
    <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">edit</i>Edit recipe</a>
    <a href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn editbutton"><i class="material-icons left">delete</i>Delete recipe</a>
    </div>